COMPOSE_PROJECT_NAME=duocmeta_localprod
APP_HTTP_PORT=80
POSTGRES_DB=duocmeta
POSTGRES_USER=duocmeta
POSTGRES_PASSWORD=change-me
BACKEND_PORT=8000
FRONTEND_PORT=3000
NGINX_SERVER_NAME=duocmeta.online
